.resize-handle {
  position: absolute;
  z-index: 3;
  inset-inline-end: 0;
  inset-block: 0;
  inline-size: var(--n-space-s);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resize-handle:focus {
  outline: none;
}

.resize-handle-inner {
  width: 2px;
  background: var(--n-color-border);
  height: var(--n-space-m);
}

.resize-handle:is(:hover, .is-resizing) .resize-handle-inner {
  background: var(--n-color-border-hover);
}

.resize-handle:focus-visible .resize-handle-inner {
  background-color: var(--n-color-accent);
}
